.new-list div{
    border: 1px solid grey;
    padding: 15px;
    
}

input{
    border:none;
    width: 100%;
}


.task{
    position: relative;
}

.delete-icon{
    position: absolute;
    display: flex;
    justify-content: end;
    inset: 0;
    padding:0px 20px;
    inset: 0;
    align-items: center;
    font-family: Noto Sans, sans-serif;
    color: grey;
    font-weight: 700;
    opacity: 0;
}

.delete-icon:hover{
    opacity: 3;
}




h1{
    padding: 80px 0px 30px 0px;
    font-size: 70px;
    font-family: "Lucida Console";
}

.items-left{
    padding-top: 20px;
}